aiodns==1.1.1
aiohttp==3.6.2
aniso8601==8.0.0
asn1crypto==0.24.0
async-timeout==3.0.1
attrs==19.3.0
Automat==0.6.0
blinker==1.4
ccxt==1.26.50
certifi==2020.4.5.1
cffi==1.14.0
chardet==3.0.4
cheroot==8.3.0
click==7.1.1
cloud-init==19.3
colorama==0.4.3
command-not-found==0.3
configobj==5.0.6
constantly==15.1.0
cryptography==2.9
distro-info===0.18ubuntu0.18.04.1
ec2-hibinit-agent==1.0.0
Flask==1.1.2
Flask-RESTful==0.3.8
hibagent==1.0.1
httplib2==0.9.2
hyperlink==17.3.1
idna==2.9
idna-ssl==1.1.0
incremental==16.10.1
itsdangerous==1.1.0
jaraco.functools==3.0.0
Jinja2==2.11.2
jsonpatch==1.16
jsonpointer==1.10
jsonschema==2.6.0
keyring==10.6.0
keyrings.alt==3.0
language-selector==0.1
MarkupSafe==1.1.1
more-itertools==8.2.0
multidict==4.7.5
netifaces==0.10.4
oauthlib==2.0.6
PAM==0.4.2
pathlib==1.0.1
pyasn1==0.4.2
pyasn1-modules==0.2.1
pycares==3.1.1
pycparser==2.20
pycrypto==2.6.1
pygobject==3.26.1
PyJWT==1.5.3
pyOpenSSL==17.5.0
pyserial==3.4
python-apt==1.6.5+ubuntu0.2
python-debian==0.1.32
pytz==2019.3
pyxdg==0.25
PyYAML==3.12
requests==2.23.0
requests-unixsocket==0.1.5
SecretStorage==2.3.1
service-identity==16.0.0
six==1.14.0
ssh-import-id==5.7
systemd-python==234
tqdm==4.45.0
Twisted==20.3.0
typing-extensions==3.7.4.2
ufw==0.36
ujson==2.0.3
unattended-upgrades==0.1
unicorn-binance-websocket-api==1.11.0
unicorn-fy==0.3.3
urllib3==1.25.9
websocket-client==0.57.0
websockets==8.1
Werkzeug==1.0.1
yarl==1.1.0
yaspin==0.16.0
zope.interface==4.3.2
